/* ** BASIC STYLING ** */

body {
  font: 1em/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.2em;
  background: #fff;
  color: #000;
}

a:link {
  color: #000;
  font-weight: 400;
}

.about a:hover {
  color: #00f;
}

.about a:visited {
  color: #f00;
}

.module {
  list-style: none;
}

.logo {
  padding-bottom: 1em;
}

.ul-about {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  width: 90%;
  margin: 0em;
}

.container {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 33%;
  gap: 30px;
}

.box {
}

.box p {
  margin-top: 0px;
}
.box img {
  width: 500px;
}
/* ** NAVIGATION ** */

nav {
  padding-bottom: 3em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

/* Create a horizontal list with spacing */

nav li {
  display: inline-block;
  float: left;
  margin-right: 1px;
}

nav li a {
  display: block;
  min-width: 350px;
  height: 50px;
  text-align: left;
  line-height: 50px;
  color: #000;
  background: #fff;
  text-decoration: none;
}

nav li:hover a {
  text-decoration-line: underline;
}

/* Prevent text wrapping */

nav li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

footer {
  font-size: 0.75em;
  padding-top: 3em;
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto 0 auto;
  }
  .box {
    font-size: 1em;
  }

  .box-top {
    padding-top: 40px;
  }

  .img-desc p {
    padding-bottom: 50px;
  }
  /* Make all menu links full width */
  ul li,
  li a {
    width: 90%;
  }
}
